.photo-download {
  background: #ffffff;
  text-align: center;

  @media (min-width: @desktop-width) {
    & {
      display: flex;
      flex-direction: column;
      margin: 0% 10% 0% 10%;
    }
  }
}

.photo-download__title {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.photo-download__wrapper {
  background: @main-color;

  @media (min-width: @tablet-width) {
    & {
      display: flex;
    }
  }
}

.photo-download__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.photo-download__input {
  width: 100%;
}

.photo-download__btn {
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  width: 100%;

  &--reset {
    color: #283645;
    opacity: 0.1;
  }
}
