.photo {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.photo__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    & {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.photo__item:first-child {
  width: 100%;
}

.photo__title {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  margin: 40px 50px 40px 50px;
}

.photo__about {
  background: @main-color;
  margin-bottom: 20px;
}

.photo__autor {
  color: #283645;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.photo__date {
  color: #283645;
  font-size: 18px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.photo__description {
  color: #283645;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  width: 280px;

  @media (min-width: @tablet-width) {
    & {
      width: 300px;
    }
  }
}

.photo__like {
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}
