.photo-download {
  background: #ffffff;
}

.photo-download__title {
  color: @blue-font;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  font-family: @font-face;
}

.photo-download__wrapper {
  background: @main-color;
}

.photo-download__btn {
  color: @pink-font;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  font-family: @font-face;
}

.photo-download__btn--reset {
  color: @blue-font;
  opacity: 0.1;
  font-family: @font-face;
}
