.photo-download {
  background: #ffffff;
}

.photo-download__title {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.photo-download__wrapper {
  background: @main-color;

  @media (min-width: @tablet-width) {
    & {
      display: flex;
    }
  }
}

.photo-download__btn {
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;

  &--reset {
    color: #283645;
    opacity: 0.1;
  }
}
