.contacts {
  /* Оформление */
  background: #ffffff;
}

.contacts__slogan {
  color: @blue-font;
  font-size: 24px;
  font-weight: lighter;
  font-family: @font-face;
}

.contacts__caption {
  color: @blue-font;
  font-size: 18px;
  font-weight: bold;
  font-family: @font-face;
}


.contacts__contact {
  color: @pink-font;
  font-size: 24px;
  font-weight: lighter;
  font-family: @font-face;
}
