.contacts {
  /* Оформление */
  background: #ffffff;
}

.contacts__slogan {
  color: #283645;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__caption {
  color: #283645;
  font-size: 18px;
  font-weight: bold;
}


.contacts__contact {
  color: #d22856;
  font-size: 24px;
  font-weight: lighter;
}
