.page-footer__wrapper {
  align-items: center;
  min-height: 300px;
  padding-top: 55px;
  padding-bottom: 38px;
  padding-right: 20px;
  padding-left: 20px;

  &--invisible {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 177px;
    padding-top: 40px;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 130px;
    padding-left: 130px;
  }
}

.page-footer__logo {
  width: 100%;
  fill: #d22856;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    width: 150px;
  }

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}
