.page-footer__wrapper--invisible {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 33.3333%;
  }
}
