.page-main {
  background-color: @main-color;
}

.page-main__header {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  margin-top: -220px;
  margin-bottom: 50px;
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    & {
      font-size: 50px;
      line-height: 50px;
      margin-top: -450px;
      margin-bottom: 80px;
      padding-top: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    & {
      margin-top: -700px;
      margin-bottom: 80px;
      padding-top: 50px;
    }
  }
}
