.page-main {
  display: flex;
  flex-direction: column;
  background-color: @main-color;
}

.page-main__wrapper {
  display: flex;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 50% #283645;
  background-size: cover;
  min-height: 395px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    & {
      min-height: 620px;
    }
  }

  @media (min-width: @desktop-width) {
    & {
      min-height: 853px;
    }
  }
}

.page-main__header {
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 225px;
}

.page-main__slogan {
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
  display: none;
  margin-top: 225px;


  @media (min-width: @tablet-width) {
    & {
      display: block;
    }
  }
}
