.advantages {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin-bottom: 620px;
}

.advantages__text {
  color: #283645;
  font-size: 24px;
  font-weight: lighter;
}

.advantages__wrapper {
  background: @main-color;
}

.advantages__list {
  display: flex;
  flex-direction: column;
}

.advantages__caption {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.advantages__description {
  color: #283645;
  font-size: 14px;
  font-weight: normal;
}

/*Стили для планшета*/
@media (min-width: @tablet-width) {
  .advantages__wrapper {
    display: flex;
    flex-direction: row;
  }
}

/*Стили для десктопа*/
@media (min-width: @desktop-width) {
  .advantages__wrapper {
    display: block;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
  }
}
