.advantages {
  background: #ffffff;
  margin-bottom: 620px;
}

.advantages__text {
  color: #283645;
  font-size: 24px;
  font-weight: lighter;
  font-family: @font-face;
}

.advantages__wrapper {
  background: @main-color;
}

.advantages__caption {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: @font-face;
}

.advantages__description {
  color: @blue-font;
  font-size: 14px;
  font-weight: normal;
  font-family: @font-face;
}
