.review {
  background: #ffffff;
}

.review__caption {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.review__description {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}
