.review {
  background: #ffffff;
  text-align: center;
}

.review__text {
  @media (min-width: @tablet-width) {
    & {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.review__caption {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.review__description {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.review__info {
  display: none;

  @media (min-width: @tablet-width) {
    & {
      display: block;
    }
  }
}
