@import url("common/variables.less");
@import url("layout/page-header.less");
@import url("layout/main-nav.less");
@import url("layout/page-main.less");
@import url("index/application.less");
@import url("index/advantages.less");
@import url("index/review.less");
@import url("index/tariff.less");
@import url("layout/contacts.less");
@import url("form/competition.less");
@import url("social.less");
@import url("layout/copyright.less");
@import url("form/popup.less");
@import url("photo/photo.less");
@import url("photo/photo-download.less");

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
