.competition {
  background: #ffffff;
}

.competition__slogan {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.competition__caption {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.competition__input {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.competition__header {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.competition__fieldset:nth-child(3),
.competition__fieldset:nth-child(5) {
  background: @main-color;
}

.competition__text {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.competition__textarea {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.competition__submit {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background: @btn-color;
}

.competition__obligatorily {
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: uppercase;
}
