.competition {
  background: #ffffff;
}

.competition__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &--slogan {
    padding-top: 50px;
    padding-bottom: 48px;
    padding-left: 10%;
    padding-right: 10%;

    @media (min-width: @tablet-width) {
      padding-left: 20%;
      padding-right: 20%;
    }

    @media (min-width: @desktop-width) {
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  &--info {
    flex-direction: column;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
    }
  }

  &--contact {
    flex-direction: column;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
      flex-direction: column-reverse;
    }
  }

  &--contact:last-child {
    @media (min-width: @desktop-width) {
      padding-left: 5%;
    }
  }

  &--achievements {
    padding-bottom: 40px;
    padding-left: 20%;
  }

  &--app {
    padding-bottom: 40px;
    padding-left: 30%;
  }
}

.competition__section {
  @media (min-width: @desktop-width) {
    &--contact {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

.competition__slogan {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  width: 100%;
  font-weight: normal;
  text-align: center;

  &--visible {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
    }
  }
}

.competition__caption {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  width: 100%;
  padding-left: 6%;

  &--info {
    @media (min-width: @tablet-width) {
      width: 20%;
    }
  }

  &--contact {
    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }
}

.competition__connection {
  &--contact {
    display: flex;
  }

  &--info {
    @media (min-width: @tablet-width) {
      width: 80%;
    }
  }
}

.competition__connection input:hover,
.competition__fieldset textarea:hover {
  border: 2px solid #283645;
  cursor: pointer;
}

.competition__connection input:focus,
.competition__fieldset textarea:focus {
  border: 2px solid #d22856;
}

.competition__input {
  width: 100%;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  border: 2px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  &--contact {
    width: 100%;
  }
}

.competition__img {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 20%;
  }
}

.competition__header {
  text-transform: uppercase;
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  width: 100%;

  &--invisible {
    display: none;
  }

  &--achievements {
    position: absolute;
    top: 40px;
    padding-left: 15%;
    padding-right: 15%;
  }

  &--app {
    position: absolute;
    top: 40px;
    padding-left: 15%;
    padding-right: 15%;
  }

  &--description {
    position: absolute;
    top: 30px;
    padding-left: 15%;
    padding-right: 15%;
  }

  @media (min-width: @tablet-width) {
    &--invisible {
      display: block;
    }
  }
}

.competition__fieldset {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: hidden;

  &--achievements {
    position: relative;
    background: @main-color;
    min-height: 604px;
    padding-top: 40px;

    @media (min-width: @desktop-width) {
      background: #ffffff;
      min-height: 115px;
      padding-right: 10%;
      padding-left: 10%;
    }
  }

  &--description {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 6%;
    padding-left: 6%;

    @media (min-width: @desktop-width) {
      padding-right: 10%;
      padding-left: 10%;
    }
  }

  &--info {
    padding-right: 6%;
    padding-left: 6%;

    @media (min-width: @tablet-width) {
      order: -3;
    }

    @media (min-width: @desktop-width) {
      width: 50%;
      padding-top: 40px;
      padding-left: 10%;
      padding-right: 0%;
    }
  }

  &--app {
    position: relative;
    background: @main-color;

    @media (min-width: @tablet-width) {
      background: #ffffff;
      order: -2;
      display: inline;
      border: visibility;
      padding-right: 10%;
      /*width: 88%;
      border: 2px solid #e5e5e5;
      margin-right: 6%;
      margin-left: 6%;*/
    }

    @media (min-width: @desktop-width) {
      width: 50%;
    }
  }

  &--contact {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 6%;
    padding-right: 6%;

    @media (min-width: @tablet-width) {
      order: -1;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  &--achievements,
  &--description {
    @media (min-width: @desktop-width) {
      width: 100%;
    }
  }
}

.competition__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;

  @media (min-width: @desktop-width) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.competition__checkbox {
  width: 25%;
}

.competition__text {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  width: 75%;
}

.competition__textarea {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-family: "PT Open Sans", "Arial", sans-serif;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  resize: none;
  border: 2px solid #e5e5e5;
}

.competition__submit {
  background: @btn-color;
  border: none;
  border-radius: 2px;
  width: 100%;
  min-height: 50px;

  @media (min-width: @tablet-width) {
    width: 45%;
  }

  @media (min-width: @desktop-width) {
    width: 30%;
  }
}

.competition__submit:hover {
  background: #1c9b5e;
  cursor: pointer;
}

.competition__submit:disabled {
  background: #e5e5e5;
}

.competition__inside {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.competition__inside:active {
  opacity: 0.3;
}

.competition__obligatorily {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: @tablet-width) {
    text-align: right;
    width: 50%;
  }

  &--color {
    color: #d22856;
  }

  &--invisible {
    display: none;

    @media (min-width: @desktop-width) {
      display: inline;
    }
  }
}

.competition__items {
  @media (min-width: @tablet-width) {
    & {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: @desktop-width) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.competition__service {
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.competition__part {
  @media (min-width: @desktop-width) {
    & {
      width: 33.333%;
    }
  }
}
